.btn_gerenciameto{
	display: flex;
	margin:20px auto;
	width: 100%;
	max-width: 1000px;
	
}
.btn_gerenciameto button{
	margin: 1px;
	width: 160px;
}
.btn_gerenciameto a{
	color: #fff;
	display: block;
	padding: 5px;
}
a{
	text-decoration: none;
	color:#2d3436;
}

.container-pagDois{
	width: 100%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	display: flex;
}
.box-pagDois{
	width: 75%;
	height: auto;
	margin: 5px;
}

.form_conteiner{
	width: 50%;
	margin: 0 auto;
}
.box-pagDois ol {
	margin:  20px 40px;
	list-style: none;
	height: 25px;
	line-height: 25px;
}
.box-pagDois ol li {
	display: inline-block;
}
.box-pagDois ol li+li:before{
	content: '>';
	margin: 5px;
	line-height:5px ;
	color:#2d3436;
	
}
.box-pagDois ol a{
	color:#2e5a1c;
	font-weight: 600;
	text-transform: uppercase;
}
.box-pagDois>h1{
	text-align: left;
	font:3em Raleway-Light;
	font-weight: 600;
	padding:10px 70px 40px;
	color:#2c3e50;
}
.autor{
	padding: 15px 50px;
	font-size: 0.9em;
	border-top: 1px solid #dfe6e9;
	border-bottom:1px solid #dfe6e9; 
	display: block;
	color:#636e72;	
	box-sizing: border-box;
}
.tagsEcompartilhar{
	display: flex;
	border-bottom:1px solid #dfe6e9;
}
.tags{
	display: block;	 
	padding: 40px;
	width: 45%;
	display:flex;
	flex-wrap:wrap;
}
.tags a{	
	font: .8em Raleway-Light;
	border: 2px solid #b2bec3;
	color:#b2bec3;
	padding: 5px 5px ;
	margin: 10px 0px;
	border-radius:5px; 
}
.compartilhar{
	width:45%;
	display: flex;
	align-items:center;
	justify-content: flex-end;
}
.compartilhar p{
	color: #b2bec3;
	padding-right:15px ;
	line-height: 50px;
}
.compartilhar a:hover{
	border-color: #2e5a1c;
}
.compartilhar a[href*="#"]:after{
	font:2em fa-brands-400;
	color:#2e5a1c;
	margin-right:20px;
	text-decoration: none;
	border:none;
	line-height: 50px;	
}
.compartilhar a[href="#facebook"]:after{
	content: '\F082';
}
.compartilhar a[href="#instagram"]:after{
	content: '\F16D';
}
.compartilhar a[href="#twitter"]:after{
	content: '\F099';
}
.compartilhar a[href*="#"]:hover:after{
	color:#FF5402;
	text-decoration: none; 
}

.pagDois-boxImg{
	width: 90%;
	height: 500px;
	margin:  25px auto;
	overflow: hidden;
	display: flex;
	align-items:   center;
	box-shadow: 0 0 4px #0000006b;
	position: relative;
	}.pagDois-boxImg legend{
		position:absolute;
		bottom:0px;
		text-align:center;
		width:100%;
		line-height:50px;
		height:60px;
		color:#fff;
		background-image:linear-gradient(to top,#000000c7,#0000002b);
	}
	.pagDois-boxImg .credito{
		position:absolute;
		display:block;
		bottom:0;
		right:10px;
		font-size:12px;
		color:#fff;

		text-align:right;
	}

	.galeria-img{
		display: none;
		width:100%;
		position: absolute;

	}
	.proximo,.anterior{
		background-color: rgba(0,0,0, 0);
		height: 200px;
		width: 15%;
		transition: all 1s;
		position: absolute;
		text-align:center;

	}
	.proximo:hover,.anterior:hover{
		transition: all 1s;		
	}
	.proximo:hover{
		background-image:linear-gradient(to left,#00000085,#04040412);
	}
	.proximo{
		border-radius:100% 0 0 100%;
		right: 0px;
	}
	.anterior{
		border-radius:0 100% 100% 0;
	}
	.anterior:hover{
		background-image:linear-gradient(to right,#00000085,#04040412 );

	}

	.proximo:before{
		content: '\f0da';
		font-family: fa-solid-900;
		color:#000;	
		font-size:3em; 
		line-height:200px;
	}
	.anterior:before{
		content: '\f0d9';
		font-family:fa-solid-900;
		color:#000;
		font-size:3em;

		line-height:200px;  
	}
	.proximo:hover:before,
	.anterior:hover:before{
		color:#fff;
	}
	.pagDois-conteudo{
		width: 90%;
		height: auto;

		margin: 10px auto;
	}
	.pagDois-conteudo p{
		padding: 10px;
	}
	.horario{
		display:flex;
		flex-direction:column;
		margin:15px;
		color:#2c3e50;
	}
	.horario li+li:before{
		content:'';
	}
	.container-pagDois-mapa{
		width: 90%;
		max-width: 1280px;
		margin: 0 auto;
	}
	.pagDois-mapa{
		width: 75%;	
	}
	/*  box galeria*/

	.boxGaleria{
		width: 90%;
		height: auto;
		margin:  25px auto;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		align-items:   center;
		box-shadow: 0 0 4px #0000006b;
		position: relative;
	}

	aside{
		width: 23%;
		background: #fafafa;
		margin: 174px 0px;
		border-radius:5px ;
		box-shadow: 1px 1px 10px #00000066;
	}
	aside label{
		display:none;
	}

	aside.pesquisa{

	}
	aside h3{
		padding:15px 15px; 
		border-bottom:1px solid #ccc ;
	}
	aside ul{
		list-style: none;
		padding:20px 15px;
	}
	aside li{
		padding:2px 0; 
	}
	aside a{

		color:#2c3e50;
	}
	aside a:hover{
		color:#ccc;
	}
	.comentarios{
		width:75%;
		max-width: 1024px; 

		padding: 50px 10px;


	}
/*---------------------------Fomulario-------------------------------------
*/
.formCadast{
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 30px auto;
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 5px;
	display: flex;
	justify-content: center;



}
form{
	width: 90%;		
	
}
form h1{

	text-align: center;
	padding: 30px 0;
}
.formCampo{
	margin: 2px auto;
	display: flex;		
	width: 100%;
	height: 35px;

}
.container_formulario{	
	width: 60%;		
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
.f_campo{
	width: 100%;
}

.textarea{
	width: 95%;
	height: 200px;
	margin: 5px 7px 10px;
}
.input_file input{
	margin: 2px;
}
.formBtn,.btn_mais,.input_file input{
	color: #fff;
	background:#ff5c00 ;
	border-radius:5px;
	font-size: 1em;
	border:1px solid #fff;
}
.btn_mais{
	margin: 10px ;
	width: 40px;
	height: 40px;
}

.boxFormBtn{
	display: flex;
	justify-content: flex-end;
	margin: 20px auto;
}
.formBtn{	
	width: 150px;
	height: 50px; 
}

.formBtn:hover ,.btn_mais:hover,.input_file input{
	background-color:#4e9525 ;
	box-shadow: 1px 1px 5px #000;  
}

.form_mensagem{
	padding: 10px;
	border-radius:2px ;
	color: #fff;

	display: inline-block;
	background: red;
}

	input[type="time"]{
		
		height: 30px;

	}
	.f_horarios{
		display: flex;
		flex-direction: row;
	}
	.diaSemana{
		line-height: 30px;
		height: 30px;
	}
	.f_horarios .f_campo{
		margin-left: 40px; 
	}

	/*--------------------fim formulario------------------------------------
	*/
	@media screen and (max-width:1024px){
		.pagDois-boxImg{
			height:400px;
		}
		.tags{	
			width: 55%;
		}
		.compartilhar{
			width:35%;

		}

	}
	@media screen and (max-width:900px){
		.pagDois-boxImg{
			height:400px;
		}
		.tags{
			width:50%;

		}
		.tags a{
			margin:1px 0px;

		}
		.compartilhar{
			width:50%;
		}
		.container_formulario{	
			width: 50%;
		}
	}
/*	----------------Media screen 768px -----------------------
*/
@media screen and ( max-width:768px){
	.container-pagDois{
		display:flex;
		flex-direction:column;

	}
	.box-pagDois{
		width:100%;
		padding:1px 10px;
		
		
	}
	.container_formulario{	
		width: 80%;
	}
	.pagDois-conteudo{
		width: 100%;
	}
	.formCadast{
		width: 100%;
	}
	.f_campo{
		width: 100%;
	}
	.formCampo{
		width: 100%;
	}
	.pagDois-boxImg{
		width:100%;
		height:400px;
	}
	/* menu locais da pagina dois*/	
	aside{	
		margin:20px 0;
		width:100%;
		background:#4e9525;
		border-radius:inherit;		

	}

	aside h3 {
		display:none;
	}
	aside ul{
		padding:0;
		max-height:0;
		overflow:hidden;
		position:relative;
		transition:all .4s linear;
	}
	aside li{
		margin:5px;
	}
	aside li a {
		margin:20px;
		color:#fff;
		cursor:pointer; 
	}
	aside label[for="locais"]{
		width:100%;
		display:inline-block;
		height:60px;
		line-height:60px;
		text-align:center;
		color:#fff;
		font-size:1.5em;
		background:#ff5c00;
		box-shadow:1px 1px 4px #000;

	}
	aside label:before{
		content: '\F13A';
		font-family:'fa-solid-900';    
		font-size:25px;
		position: absolute;
		right: 20px; 
		transition:all .1s ;

	}
	input:checked +label:before{
		transform: rotate(180deg);
		transition:all .1s ; 
	}
	input[type="checkbox"]:checked  ~ #locaisMenu{
		height:auto;
		max-height:900px;
		transition:all .4s linear;
	}
	.pagDois-mapa{
		width:95%;
		height:400px;
		overflow:hidden;
		margin:0 auto;
	}
	.comentarios{
		width:95%;
		margin:0 auto;

	}
}

@media screen and ( max-width:480px){
	
	.box-pagDois{
		width:100%;
	}
	.pagDois-conteudo{
		width: 100%;
	}
	.container_formulario{	
		width: 100%;
}
	.formCadast{
		width: 100%;
	}
	.f_campo{
		width: 100%;
	}
	.formCampo{
		width: 100%;
	}
	.pagDois-boxImg{
		height:250px;
	}
	.box-pagDois ol a{
		font-size:.7em ;
		
	}
	
	.box-pagDois h1{
		font-size:2em;
	}
	.autor{
		font-size:.8em;
	}
	.tagsEcompartilhar{
		width:80%;
		margin:10px auto;
		padding:0;
		flex-direction:column;
		justify-content:center;


	}
	.tags{
		font-size:.8em;
		width:100%;		
	}
	.compartilhar{
		width:100%;
		display:block;
		text-align:center;
		height:80px;
	}

	
	.pagDois-mapa{
		width:95%;
		height:300px;
		margin:10px auto;
		overflow:hidden;

	}
	
	.proximo,.anterior{
		width: 15%;
		height:100px;

	}
	.proximo:before{
		font-size:2em; 
		line-height:100px;
	}
	.anterior:before{
		font-size:2em;
		line-height:100px;  
	}
	
}